.weather {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
  background-color: #b7eaea;
  height: 100vh;
}

.weather-box {
  padding: 50px;
  border-radius: 20px;
  text-align: center;
}

.cloudy {
  width: 60px;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}
